//fonts
@import url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css');


@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

html {
  font-size: 16px;
}

/* Main styles */
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Shabnam", sans-serif;
  font-size: 16px;
  color: #343a40;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #myVideo {
    position: absolute;
    filter: blur(4px);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
  }

  .background {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    z-index: -2;
    background-size: 22px 22px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

  }

  .split {
    background-color: #267810;
  }

  .card {
    border-radius: 4px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    overflow: hidden;
    position: relative;
    min-width: 400px;
    top: 0;

    transition: all 200ms ease;
    border: 2px solid white;

    .title {
      text-align: center;
      font-weight: bold;
      padding: 20px;

    }

    &:hover {
      top: -5px;
      border: 2px solid wheat;
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 35px;
    }

  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: auto;

    .main-content {
      a {
        padding: 10px;
        text-decoration: none;
        background-color: white;
        color: #343a40;
        border-radius: 4px;
        margin: 10px;
        display: inline-flex;
      }


      .title-lg {
        position: relative;
        display: inline-flex;
        padding: 2px 4px;
        justify-content: center;
        align-items: center;

        .split {
          width: 2px;
          background-color: #343a40;
          height: 80px;
          z-index: 2;
          margin: 0 12px;
          border-radius: 10px;
          transform: rotate(10deg);
        }

        .bg {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background-color: #fdfdff;
          z-index: 0;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          border-radius: 4px;
        }

        h1 {
          z-index: 2;
        }
      }

      .title-md {
        display: none;
        text-align: center;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
        background-color: white !important;

        hr {
          z-index: 2;
          width: 100px;
        }
      }
    }

    .latest-workshop {
      margin: 20px;
    }
  }

}

@media(max-width: 771px) {
  .title-lg {
    display: none !important;
  }
  .title-md {
    display: flex !important;
    flex-direction: column;
  }
  .documentation {
    a {
      width: calc(100% - 40px);
      background: rgb(255, 255, 255) !important;
      justify-content: center;
      color: #939393 !important;
      font-weight: bolder !important;
    }
  }
}

@media (max-width: 427px) {
  .latest-workshop {
    width: 100%;
  }
  .card {
    min-width: unset !important;
    animation: border 10s ease infinite;

    .title {
      text-decoration: none !important;
    }

    @keyframes border {
      0% {
        border: 2px solid white;
      }
      50% {
        border: 2px solid green;
      }
      100% {
        border: 2px solid white;
      }
    }
  }

  .header-img {
    position: relative;
    width: 100%;
    background-image: url("/Front/img/iranopen-workshop.jpg");
    background-size: cover;

    &:after {
      content: "";
      display: block;
      padding-bottom: 80%;
    }

    img {
      display: none !important;
    }
  }
}
