//fonts
@import url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css');


@keyframes gradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Main styles */
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Shabnam", sans-serif;
  color: #343a40;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: #343a40;
    border-radius: 4px;
    margin: 10px;
    display: inline-flex;
  }

  .title-lg {
    position: relative;
    display: inline-flex;
    padding: .1rem 2rem;
    justify-content: center;
    align-items: center;

    .split {
      width: 2px;
      background-color: #343a40;
      height: 5rem;
      z-index: 2;
      margin: 0 12px;
      border-radius: 10px;
      transform: rotate(10deg);
    }

    .bg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: #fdfdff;
      z-index: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
    }

    h1 {
      z-index: 2;
    }
  }

  .title-md {
    display: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: white !important;

    hr {
      z-index: 2;
      width: 100px;
    }
  }

  @media only screen and (max-width: 832px) {
    .title-lg {
      display: none;
    }
    .title-md {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
